/* iPhone SE */
@media (min-width: 375px) and (min-height: 667px) {
    .selecrors {
        display: flex;
        flex-direction: column;
    }
    .selecrors__btn {
        display: flex;
        position: relative;
        margin-bottom: 8px;
        padding: 8px 24px;
        width: 327px;
        height: 56px;
        border: 1px solid rgba(255, 255, 255, 1);
        background-color: rgb(33, 33, 39);
        color: white;
        border-radius: 25px;
    }
    .active {
        background-color: rgb(85, 82, 92);
    }
    .align-center {
        align-items: center;
    }
    .yearly__per-year {
        width: 141px;
        margin-right: 37px;
        &:lang(fr) {
            width: 160px;
        }
        &:lang(de) {
            width: 160px;
        }
    }
    .access {
        font-family: 'SF Pro';
        font-size: 16px;
        font-weight: 600;
        line-height: 19.09px;
        text-align: left;
        &:lang(fr) {
            font-size: 13px;
        }
        &:lang(de) {
            font-size: 13px;
        }
    }

    .price {
        font-family: 'SF Pro';
        font-size: 16px;
        font-weight: 400;
        line-height: 19.09px;
        text-align: left;
        color: #a5a5a5;
        &:lang(fr) {
            font-size: 11px;
        }
        &:lang(es) {
            font-size: 12px;
        }
        &:lang(pt) {
            font-size: 12px;
        }
    }
    .yearly__best-price {
        width: 61px;
        height: 38px;
        font-family: 'SF Pro';
        font-size: 16px;
        font-weight: 400;
        line-height: 19.09px;
        text-align: left;
        color: #a5a5a5;
        &:lang(fr) {
            width: 90px;
        }
        &:lang(de) {
            width: 90px;
        }
        &:lang(ja) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 65px;
        }
        &:lang(es) {
            width: 90px;
        }
        &:lang(pt) {
            width: 90px;
        }
    }
    .yearly__best-offer {
        position: absolute;
        top: -10px;
        right: 23px;
        padding: 2px 23px;
        width: fit-content;
        font-family: 'Roboto';
        font-size: 13px;
        font-weight: 700;
        line-height: 15.23px;
        text-align: left;
        background-color: white;
        border-radius: 19px;
        color: #141131;
    }
    .button {
        padding: 16px 120px;
        width: 327px;
        height: 56px;
        font-family: 'SF Pro';
        font-size: 21px;
        font-weight: 600;
        line-height: 25px;
        text-align: center;
        border-radius: 25px;
        background-color: #ffffff;
        border: #ffffff;
        letter-spacing: 1px;
        &:lang(ja) {
            width: fit-content;
        }
    }
}
@media (min-width: 390px) and (min-height: 844px) {
    .selecrors {
        margin-top: 10px;
        width: fit-content;
        height: 195px;
    }
    .selecrors__btn {
        width: 340px;
    }
    .yearly__per-year {
        margin-right: 50px;
    }
    .button {
        margin-top: 10px;
        width: 340px;
    }
}
