@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap);
@font-face {
    font-family: 'SF Pro';
    src: url('./public/Fonts/SFPRODISPLAYREGULAR.OTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
// * {
//     border: 1px solid red;
// }
/* iPhone 8+ */
@media (min-width: 375px) and (min-height: 667px) {
    :root {
        min-width: 375px;
        min-height: 667px;
        color: white;
        background-color: #242424;
        font-family: -apple-system, 'SF Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        background: url('./img/bg.png') no-repeat center center;
        background-size: contain;
    }
    #app {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
    }
    .header {
        position: relative;
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header__title {
        margin: 118px 0px 0px;
        font-family: 'SF Pro';
        font-size: 44px;
        font-weight: 800;
        line-height: 45px;
        text-align: center;
        letter-spacing: 2px;
        &:lang(de) {
            margin: 70px 0px 0px;
            font-size: 25px;
            line-height: 35px;
        }
        &:lang(pt) {
            margin: 70px 0px 0px;
        }
    }

    .close {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 35px;
        left: -48px;
        &:lang(fr) {
            left: -21px;
        }
        &:lang(de) {
            left: -21px;
        }
        &:lang(pt) {
            left: -21px;
        }
        &:lang(es) {
            left: -21px;
        }
    }
    .close:after {
        content: '';
        height: 15px;
        border-left: 1.8px solid #877a9b;
        position: absolute;
        transform: rotate(45deg);
        left: 28px;
    }

    .close:before {
        content: '';
        height: 15px;
        border-left: 1.8px solid #877a9b;
        position: absolute;
        transform: rotate(-45deg);
        left: 28px;
    }
    .slides {
        display: flex;
        justify-content: space-between;
        margin: 40px 0px;
        width: 328px;
        font-size: 11px;
        font-weight: 400;
        line-height: 13.13px;
        color: #ffffff;
    }

    .unlimited {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 104.4px;
        height: 138.6px;
        padding: 0px 7.2px 10.8px;

        font-family: 'SF Pro';
        font-size: 11px;
        font-weight: 400;
        line-height: 13.13px;
        text-align: left;
        letter-spacing: 0.5px;

        background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.0001) 0%,
                rgba(4, 6, 26, 0.0001) 62.04%,
                rgba(6, 9, 37, 0.558287) 76.68%,
                #15072f 100%
            ),
            url('./img/unlimitedBG.png') no-repeat center center;
        background-size: contain;
        border-radius: 9px;
        box-shadow: 0px 0px 21.6px 0px rgba(255, 130, 228, 0.24);
    }

    .exclusive {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 104.4px;
        height: 138.6px;
        padding: 0px 7.2px 10.8px;

        font-family: 'SF Pro';
        font-size: 11px;
        font-weight: 400;
        line-height: 13.13px;
        text-align: left;
        letter-spacing: 0.5px;

        background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.0001) 0%,
                rgba(4, 6, 26, 0.0001) 62.04%,
                rgba(6, 9, 37, 0.373) 76.68%,
                #15072f 100%
            ),
            url('./img/exclusiveBG.png') no-repeat center center;
        background-size: contain;
        border-radius: 9px;
        box-shadow: 0px 0px 21.6px 0px rgba(255, 130, 228, 0.24);
    }
    .avatars {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 104.4px;
        height: 138.6px;
        padding: 0px 7.2px 10.8px;

        font-family: 'SF Pro';
        font-size: 11px;
        font-weight: 400;
        line-height: 13.13px;
        text-align: left;
        letter-spacing: 0.5px;

        background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.0001) 0%,
                rgba(4, 6, 26, 0.0001) 62.04%,
                rgba(6, 9, 37, 0.558287) 76.68%,
                #15072f 100%
            ),
            url('./img/Group 37@3x.png') no-repeat center center;
        background-size: contain;
        border-radius: 9px;
        border-radius: 9px;
    }
}
